[Unit]
Description=Flask Server
Wants=nginx.service
After=network.target

[Service]
Type=simple
WorkingDirectory={{ arbeit }}

User=bucklequick
ExecStart={{ arbeit }}/venv/bin/flask --app dev run
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
